<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" type="text/css" href="../static/css/index.css">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Bootstrap Icons -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">

  <title>KGCE</title>
</head>
<body>
  <!-- Navigation Bar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <img class="m-3" src="../static/media/kgce.png" style="width: 40px; height: 40px;">
    <a class="navbar-brand" href="#">K G C E</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse mx-5" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">About <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Admissions
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Overview</a>
            <a class="dropdown-item" href="#">Admission Enquiry</a>
            <a class="dropdown-item" href="#">First Year Engineering</a>
            <a class="dropdown-item" href="#">Direct Second Year Engineering</a>
            <a class="dropdown-item" href="#">Important Notes for Admission</a>
            <a class="dropdown-item" href="#">Cancellation of Admission</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Departments
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Computer Engineering</a>
            <a class="dropdown-item" href="#">EXTC Engineering</a>
            <a class="dropdown-item" href="#">Mechanical Engineering</a>
            <a class="dropdown-item" href="#">Information Engineering</a>
            <a class="dropdown-item" href="#">Production Engineering</a>
            <a class="dropdown-item" href="#">Sciene & Humanities</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Exam Cell
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Exam Notice</a>
            <a class="dropdown-item" href="#">Exam Cell Committee</a>
            <a class="dropdown-item" href="#">Exam Staff</a>
            <a class="dropdown-item" href="#">University Exam Time Table</a>
            <a class="dropdown-item" href="#">Exam Results</a>
            <a class="dropdown-item" href="#">Hall Ticket</a>
            <a class="dropdown-item" href="#">Exam Old Question Papers</a>
            <a class="dropdown-item" href="#">University Rankers</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">T & P</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Infrastructure
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Central Library</a>
            <a class="dropdown-item" href="#">Canteen</a>
            <a class="dropdown-item" href="#">Hostel</a>
            <a class="dropdown-item" href="#">Gym Khana</a>
            <a class="dropdown-item" href="#">Premises</a>
            <a class="dropdown-item" href="#">Transport Facilities</a>
            <a class="dropdown-item" href="#">Central Computing Facilities</a>
            <a class="dropdown-item" href="#">Office</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Gallery
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Blood Donation Camp</a>
            <a class="dropdown-item" href="#">Alumini Meet</a>
            <a class="dropdown-item" href="#">Hyperkube Event</a>
            <a class="dropdown-item" href="#">STTP Program</a>
            <a class="dropdown-item" href="#">Parent Teacher Meet</a>
            <a class="dropdown-item" href="#">Women Day Celebration</a>
            <a class="dropdown-item" href="#">Spring Fiesta Program</a>
            <a class="dropdown-item" href="#">Industrial Visits</a>
            <a class="dropdown-item" href="#">Convocation</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Image Slider -->
  <div class="container-fluid">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="../static/media/slider/slider1.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="../static/media/slider/slider2.jpg" alt="Second slide">
        </div>
      </div>
    </div>
  </div>

  <!-- Chat -->
  <!-- Button trigger modal -->
  <div class="fixed-bottom">
    <button type="button" class="btn btn-primary rounded-circle float-right m-5" data-toggle="modal" data-target="#exampleModalCenter">
      <h2 class="bi bi-chat-dots-fill p-1"></h2>
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">
            <img class="mr-3" src="/static/media/kgce1.png" style="width: 30px; height: 30px">KGCE Enquiry Bot</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body overflow-auto" id="result" style="height: 50vh">
           <!-- Chat is add here -->
           <div class='bot'><img class='mr-2' src='/static/media/kgce1.png' style='width: 30px; height: 30px'><span>I'm KCGE Clg Enquiry bot. I'm here to help you.</span></div>
         </div>
         <div class="modal-footer">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="message" placeholder="Type a message" aria-label="Type a message" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button id="sen" class="btn btn-primary" type="button"><i class="bi bi-arrow-right-circle-fill"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Some Text -->
  <h3 class="m-5 bg-  ">Welcome to KGCE</h3>
  <div class="container">

    <p>Konkan Gyanpeeth College of Engineering, Karjat came into existence about 25 Years ago out of the dream of Late Hon. Prabhakar Narayan (Appasaheb) Dharkar, Ex-Minister of Maharashtra Government.</p>
    <p>The institute has situated on hill slopes amidst the Sahyadri ranges that maintains fresh atmosphere with panoramic view of surrounding which remains green in all seasons. The self-financed institute approved by AICTE, New Delhi and affiliated to University of Mumbai was established in the year 1994 with sole aim of providing quality education to the student of rural area nearby Karjat, District-Raigad in the field of Engineering and Technology. The campus sprawls in 19.32 acres with built up area of 17,718 sqm of area with independent building. The institute offers undergraduate degree programs in Academic year 2017-18 for six disciplines viz Computer Engineering, Electronics & Telecommunication Engineering, Mechanical Engineering, Information Technology, Instrumentation Engineering, Production Engineering.</p>
    <p>The each discipline has separate infrastructure for the laboratories of major subjects as prescribed by University of Mumbai. The Institute has been achieving its objectives by providing well laid campus, good infrastructure, qualified and experienced faculty members. The institute maintains conductive and learning atmosphere for the students.  The student support facilities such as boys and girls common room, bus transport, hostel and large playground for outdoor sports, gymkhana, canteen, internet lab are available with the institute. The student grievances are addressed in person through committees of Grievance Redressal, Anti-ragging and Women Internal Complaint Committee/Women Development Cell. The institute promotes leadership qualities of student by organizing various sports and cultural events in Spring Fiesta annual function.</p>
    <p>Training and Placement Cell takes care of skill development through training programs and organinizes placement drives on-campus and off-campus. The students are encouraged to participate in extension activities through institute NSS cell in the neighborhood community in terms of impact and sensitizing students to social issues.</p>
  </div>

  <!-- Features Grid -->
  <div class="album py-5 bg-light">
    <h3 class="mx-5 mb-5">Features of KGCE</h3>
    <div class="container text-light">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid1.jpeg'); background-position: center; background-repeat: no-repeat; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">High Quality Equipped Labs</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid2.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">78+ Experienced Faculties</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid3.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">100 Mbps Broadband</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid4.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">Placements and University Rank Holder</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid5.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">Transport Facilities</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid6.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">Libraries equipped with 32000+ Books</div>
            </div>
          </div>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 mb-4">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid7.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">Computer Centre with latest configuration of PCs.</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid8.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">Outdoor Playground for Games</div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body" style="position: relative; background: url('static/media/grid/grid9.jpeg'); background-position: center; background-repeat: no-repeat; height: 40vh">
              <div class="card-text bottom p-3" style="position: absolute; bottom: 0">Farewell 2018</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-6 my-4 mx-auto border-right">
      <div class="card bg-primary text-light mb-3" style="width: 25rem;">
        <div class="card-body m-4">
          <h5 class="card-title">APPLY NOW</h5>
          <p class="card-text">Enroll in Konkan Gyanpeeth College of Engineering, Karjat.</p>
        </div>
      </div>
      <div class="card text-light bg-success" style="width: 25rem;">
        <div class="card-body m-4">
          <h5 class="card-title">Plan a Vist</h5>
          <p class="card-text">Get to know more about the top most Engineering Colleges, KGCE, Karjat.</p>
        </div>
      </div>
    </div>
    <div class="col-5 my-5 mx-auto">
      <h3 class="my-4">Our Stats</h3>
      <table class="table table-striped text-secondary">
        <tbody>
          <tr>
            <td><h4>7000+</h4></td>
            <td><h4>28</h4></td>
          </tr>
          <tr>
            <td><h5>Alumni</h5></td>
            <td><h5>Years of Education</h5></td>
          </tr>
        </tbody>
      </table>
      <table class="table table-striped text-secondary">
        <tbody>
         <tr>
          <td><h4>4</h4></td>
          <td><h4>32000+</h4></td>
        </tr>
        <tr>
          <td><h5>Institutes</h5></td>
          <td><h5>Library Books</h5></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>

<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4 bg-dark text-light">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Get in Touch</h5>
        <p><b>Admission Enquiry: </b>admission@kgce.edu.in</p>
        <p><b>Examination Related Enquiry: </b>exam@kgce.edu.in</p>
        <p><b>Training Placement Enquiry: </b>tpo@kgce.edu.in</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-6 mx-auto">
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Contact Us</h5>
        <p><b>Address:</b> Konkan Gyanpeeth College of Engineering, Karjat Konkan Gyanpeeth Shaiskshnik Sankul, At. Vengaon Road, Dahivali / Parade, Post: Tiware, Tal: Karjat, Dist: Raigad, MS 410201</p>
        <p><b>Phone No.: </b>(02148) 222580, 223768</p>
        <p><b>Email: </b>principal@kgce.edu.in</p>
      </div>
    </div>
  </div>

  <hr class="bg-light">
  <!-- Copyright -->
  <div class="footer-copyright text-center pb-3">© 2021 Copyright:
    <a href="#"> KGCE.com</a>
  </div>
  <!-- Copyright -->

</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<!-- ChatBot JS -->
<script type="text/javascript" src="/static/js/base.js"></script>
<script type="text/javascript" src="/static/js/app.js"></script>
</html>